body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.nav-main{
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: .5em 2em;
}
.nav-h1{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
}
h4{
  color: #DEEBF8;
}
.logo-img{
  height: 2rem;
  margin-right: .5em;
}
.main-cont{
  padding: 2em 2em;
  background-color: #282D35;
  color: white;
}
.main-h1{
  font-size: 2.3rem;
  letter-spacing: -0.05em;
  margin: 0;
}
.main-ul{
  margin-top: 2em;
}
.main-ul > li{
  line-height: 19px;
  transition: all .2s;
  padding-block: 10px;
}
.main-ul > li::marker{
  color: #61DAFB;
  font-size: 1.4rem;
}